.faulty-terminal-container{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;          /* фон позади всего */
  pointer-events: none; /* чтобы не мешал кликам по админке */
}